# noinspection ComposeUnknownKeys
name: "rk-time-track-compose"
version: "3.0"

services:
  rk-time-track:
    container_name: rk-time-track
    image: rk-time-track-service
    build:
      context: ../src
      dockerfile: ../src/RKTimeTrack.Service/Dockerfile
    ports: 
      - "5200:80"
    environment:
      FileBasedTimeTrackingRepository__PersistenceDirectory: "/var/opt/rk-time-track/store"
      FileBasedTimeTrackingRepository__WriteIndentedJson: "true"
      StaticTopicRepository__SourceFilePath: "/var/opt/rk-time-track/testdata/topics.json"
    volumes:
      - type: bind
        source: ./ignoreforgit/store
        target: /var/opt/rk-time-track/store
      - type: bind
        source: ./testdata
        target: /var/opt/rk-time-track/testdata