openapi: 3.0.1
info:
  title: RKTimeTrack.Service
  version: '1.0'
paths:
  /api/ui/day:
    post:
      tags:
        - DayApi
      operationId: UpdateDay
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDay_Request'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeTrackingDay'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /api/ui/entries:
    post:
      tags:
        - EntryApi
      operationId: SearchEntries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchEntriesByText_Request'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeTrackingEntry'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /api/ui/topics:
    get:
      tags:
        - TopicApi
      operationId: GetAllTopics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeTrackingTopic'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /api/ui/week:
    get:
      tags:
        - WeekApi
      operationId: GetCurrentWeek
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeTrackingWeek'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  '/api/ui/week/{year}/{weekNumber}':
    get:
      tags:
        - WeekApi
      operationId: GetWeek
      parameters:
        - name: year
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: weekNumber
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeTrackingWeek'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  '/api/ui/year/{year}/metadata':
    get:
      tags:
        - YearApi
      operationId: GetYearMetadata
      parameters:
        - name: year
          in: path
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeTrackingYearMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
      additionalProperties: { }
    SearchEntriesByText_Request:
      type: object
      properties:
        searchText:
          type: string
          nullable: true
        maxSearchResults:
          type: integer
          format: int32
      additionalProperties: false
    TimeTrackingDay:
      type: object
      properties:
        date:
          type: string
          description: Date in format 'yyyy-mm-dd'
        type:
          $ref: '#/components/schemas/TimeTrackingDayType'
        entries:
          type: array
          items:
            $ref: '#/components/schemas/TimeTrackingEntry'
          nullable: true
      additionalProperties: false
    TimeTrackingDayType:
      enum:
        - WorkingDay
        - OwnEducation
        - PublicHoliday
        - Ill
        - Training
        - Holiday
        - CompensatoryTimeOff
        - Weekend
      type: string
    TimeTrackingEntry:
      type: object
      properties:
        topic:
          $ref: '#/components/schemas/TimeTrackingTopicReference'
        effortInHours:
          type: number
        effortBilled:
          type: number
        type:
          $ref: '#/components/schemas/TimeTrackingEntryType'
        description:
          type: string
          nullable: true
      additionalProperties: false
    TimeTrackingEntryType:
      enum:
        - Default
        - Training
        - Standby
      type: string
    TimeTrackingTopic:
      type: object
      properties:
        category:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        canBeInvoiced:
          type: boolean
        budget:
          type: number
          nullable: true
      additionalProperties: false
    TimeTrackingTopicReference:
      type: object
      properties:
        category:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
      additionalProperties: false
    TimeTrackingWeek:
      type: object
      properties:
        year:
          type: integer
          format: int32
        weekNumber:
          type: integer
          format: int32
        monday:
          $ref: '#/components/schemas/TimeTrackingDay'
        tuesday:
          $ref: '#/components/schemas/TimeTrackingDay'
        wednesday:
          $ref: '#/components/schemas/TimeTrackingDay'
        thursday:
          $ref: '#/components/schemas/TimeTrackingDay'
        friday:
          $ref: '#/components/schemas/TimeTrackingDay'
        saturday:
          $ref: '#/components/schemas/TimeTrackingDay'
        sunday:
          $ref: '#/components/schemas/TimeTrackingDay'
      additionalProperties: false
    TimeTrackingYearMetadata:
      type: object
      properties:
        maxWeekNumber:
          type: integer
          format: int32
      additionalProperties: false
    UpdateDay_Request:
      type: object
      properties:
        date:
          type: string
          description: Date in format 'yyyy-mm-dd'
        type:
          $ref: '#/components/schemas/TimeTrackingDayType'
        entries:
          type: array
          items:
            $ref: '#/components/schemas/TimeTrackingEntry'
          nullable: true
      additionalProperties: false